{% load static %}
<div class="container-fluid page-body-wrapper">
 <!-- partial:partials/_sidebar.html -->
 <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <img src="{% static 'Admin/assets/images/faces/face1.jpg' %}" alt="profile" />
            <span class="login-status online"></span>
            <!--change to offline or busy as needed-->
          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">Admin</span>
            <span class="text-secondary text-small">Admin</span>
          </div>
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Registration</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-crosshairs-gps menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
           
            <li class="nav-item">
              <a class="nav-link" href="{% url 'panchayath' %}">Panchayath</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'product' %}">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'agriofficer' %}">Agriculture Officer</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#icon" aria-expanded="false" aria-controls="icon">
          <span class="menu-title">Views</span>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
        <div class="collapse" id="icon">
          <ul class="nav flex-column sub-menu">
           
            <li class="nav-item">
              <a class="nav-link" href="{% url 'viewpanchayath' %}">panchayath</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'viewproduct' %}">Products</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url 'viewagriofficer' %}">Agriculture Officer</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
          <span class="menu-title">Report</span>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
        <div class="collapse" id="icons">
          <ul class="nav flex-column sub-menu">
           
            <li class="nav-item">
              <a class="nav-link" href="{% url 'piechartbasedinsurancepolicies' %}">insurancepolicies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Exportexcelinsurance' %}">insurance Amount</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'barchart_view' %}">product requests</a>
            </li>
          </ul>
        </div>
      </li>
      
     
    
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">-->
<!--          <span class="menu-title">Tables</span>-->
<!--          <i class="mdi mdi-table-large menu-icon"></i>-->
<!--        </a>-->
<!--        <div class="collapse" id="tables">-->
<!--          <ul class="nav flex-column sub-menu">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">-->
<!--          <span class="menu-title">User Pages</span>-->
<!--          <i class="menu-arrow"></i>-->
<!--          <i class="mdi mdi-lock menu-icon"></i>-->
<!--        </a>-->
<!--        <div class="collapse" id="auth">-->
<!--          <ul class="nav flex-column sub-menu">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="pages/samples/login.html"> Login </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="samples/register.html"> Register </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="pages/samples/error-404.html"> 404 </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="pages/samples/error-500.html"> 500 </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}" target="_blank">
          <span class="menu-title">Logout</span>
          <i class="mdi mdi-file-document-box menu-icon"></i>
        </a>
      </li>
    </ul>
  </nav>